@import url(./__image/news-card__image.css);
@import url(./__date/news-card__date.css);
@import url(./__text-content/news-card__text-content.css);
@import url(./__text/news-card__text.css);
@import url(./__source/news-card__source.css);

.news-card {
  max-width: 400px;
  min-height: 576px;
  background: #fff;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .news-card {
    max-width: 320px;
    min-height: 490px;
  }
}

@media screen and (max-width: 768px) {
  .news-card {
    max-width: 224px;
    min-height: 420px;
  }
}

.news-card:hover {
  cursor: url(/src/images/lapka.svg), pointer;
}


@media screen and (max-width: 550px) {
  .news-card {
    max-width: 288px;
    height: max-content;
  }
}
