.section__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  padding-top: 4px;
  letter-spacing: .5px;
}

@media screen and (max-width:450px) {
  .section__link {
    margin-top: 16px;
  }
}
