@import url(./__paragraph/section__paragraph.css);
@import url(./__title/section__title.css);
@import url(./_theme/_grey/section_theme_grey.css);
@import url(./__line-above/section__line-above.css);
@import url(./__link/section__link.css);
@import url(./__gradient/section__gradient.css);

.section {
  padding: 80px 104px;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 40px;
  }
}

@media screen and (max-width: 450px) {
  .section {
    padding: 32px 16px;
  }
}
