.footer__link {
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
}

.footer__link:hover {
  cursor: url(/src/images/lapka.svg), pointer;
}

@media screen and (max-width:450px) {
  .footer__link {
    line-height: 48px;
  }
}
