.header__menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width:550px) {
  .header__menu {
    font-size: 16px;
  }
}
