.news-card__text-content {
  padding: 20px 24px 24px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width:1024px) {
  .news-card__text-content {
    padding: 16px;
    min-height: 238px;
  }
}

@media screen and (max-width:550px) {
  .news-card__text-content {
    min-height: 220px;
  }
}
